In [1]:
#Chapter 2

the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

# -*- coding: encoding -*-
# -*- coding: cp1252 -*-
#!/usr/bin/env python3
# -*- coding: cp1252 -*

Be careful not to fall off!

In [2]:
#Chapter 3

# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [3]:
2 + 2

4

In [4]:
50 - 5*6

20

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a floa

5.666666666666667

In [7]:
 17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [10]:
5 ** 2  # 5 squared

25

In [11]:
2 ** 7  # 2 to the power of 7

128

In [12]:
width = 20
height = 5 * 9
width * height

900

#################################################ERROR##############################################
#################################################ERROR##############################################
#################################################ERROR##############################################
#n  # try to access an undefined variable

#Solution declare the variable
n = ''

In [13]:
4 * 3.75 - 1

14.0

In [14]:
tax = 12.5 / 100
price = 100.50

In [15]:
price * tax

12.5625

In [16]:
price + _

113.0625

In [17]:
round(_, 2)

113.06

In [18]:
'spam eggs'  # single quotes

'spam eggs'

In [19]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [20]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [21]:
'"Yes," they said.'

'"Yes," they said.'

In [22]:
"\"Yes,\" they said."

'"Yes," they said.'

In [23]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [24]:
'"Isn\'t," they said.'
print('"Isn\'t," they said.')
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output
'First line.\nSecond line.'
print(s)  # with print(), \n produces a new line

"Isn't," they said.
First line.
Second line.

In [74]:
print('C:\some\name')  # here \n means newline!
print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

In [26]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [27]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'
'unununium'

'unununium'

In [28]:
'Py' 'thon'

'Python'

In [29]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

#Solution
prefix + 'thon'

In [30]:
word = 'Python'
word[0]  # character in position 0
word[5]  # character in position 5'

'n'

In [31]:
word[-1]  # last character
word[-2]  # second-last character
word[-6]

'P'

In [32]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [33]:
word[:2] + word[2:]
word[:4] + word[4:]

'Python'

In [34]:
word[:2]   # character from the beginning to position 2 (excluded)
word[4:]   # characters from position 4 (included) to the end
word[-2:]  # characters from the second-last (included) to the end

'on'

word[42]  # the word only has 6 characters

#Solution: to add a valid index from 0 to 5
word[0]

word[0] = 'J'

#Solution: strings are inmutable, then we have to create a new string
word = 'J' + word[1:]
word

In [45]:
word = 'J' + word[1:]
word[:2] + 'py'

'Pypy'

In [46]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [ ]:
###########################################3#####################################################

In [47]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [48]:
squares[0]  # indexing returns the item
squares[-1]
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [49]:
 squares[:]

[1, 4, 9, 16, 25]

In [50]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3

64

In [52]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [56]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343, 216, 343, 216, 343, 216, 343]

In [58]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

# now remove them
letters[2:5] = []
letters
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [59]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [60]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [61]:
x[0]
x[0][1]

'b'

In [62]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
     print(a)
     a, b = b, a+b

0
1
1
2
3
5
8

In [64]:
#########################################################4##################################################
############################################################################################################
############################################################################################################

In [65]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
     print('Single')
else:
    print('More')

Please enter an integer: 42
More

In [66]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
     print(w, len(w))

cat 3
window 6
defenestrate 12

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = statu

In [104]:
#We have to declare an array with user and status, use an index to access the array
# Strategy:  Iterate over a copy
users = [['user1', 'inactive'],['user2', 'active'],['user3', 'inactive'],['user4', 'active']]
i = 0
for user, status in users.copy():
    if status == 'inactive':
        del users[i]
        i=i+1    
        
# Strategy:  Create a new collection
active_users = {}
i = 0
for user, status in users:
    if status == 'active':
        active_users[i] = [user,status]
        i=1+1

In [107]:
for i in range(5):
    print(i)

0
1
2
3
4

In [109]:
range(5, 10)

range(0, 10, 3)
   
range(-10, -100, -30)

range(-10, -100, -30)

In [114]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [115]:
print(range(10))

range(0, 10)

In [116]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [117]:
list(range(4))

[0, 1, 2, 3]

In [118]:
for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [120]:
for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a number", n)

Found an even number 2
Found a number 9
Found an even number 4
Found a number 9
Found an even number 6
Found a number 9
Found an even number 8
Found a number 9

while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [125]:
 class MyEmptyClass:
...     pass

In [126]:
def initlog(*args):
...     pass   # Remember to implement this!

In [127]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    #print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [128]:
fib

In [131]:
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [132]:
fib(0)
print(fib(0))

None

In [135]:
def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result

f100 = fib2(100)    # call it
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [137]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [139]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [141]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [143]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [146]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
    
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

In [164]:
#Solution put the parameter names
parrot() 
parrot(voltage=5.0, action='dead')
parrot(state=110, voltage=220) 
parrot(100,state='John Cleese')

-- This parrot wouldn't voom if you put 100 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's John Cleese !

In [167]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [169]:
def standard_arg(arg):
...     print(arg)
...
def pos_only_arg(arg, /):
...     print(arg)
...
def kwd_only_arg(*, arg):
...     print(arg)
...
def combined_example(pos_only, /, standard, *, kwd_only):
...     print(pos_only, standard, kwd_only)

In [170]:
standard_arg(2)
 standard_arg(arg=2)

2

In [174]:
pos_only_arg(1)
#pos_only_arg(arg=1)

1

In [177]:
#kwd_only_arg(3)
kwd_only_arg(arg=3)

3

In [178]:
def foo(name, **kwds):
    return 'name' in kwds

In [180]:
def foo(name, /, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

True

In [181]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [183]:
def concat(*args, sep="/"):
...     return sep.join(args)
...
concat("earth", "mars", "venus")
'earth/mars/venus'
concat("earth", "mars", "venus", sep=".")
'earth.mars.venus'

'earth.mars.venus'

In [184]:
>>> list(range(3, 6))            # normal call with separate arguments
[3, 4, 5]
>>> args = [3, 6]
>>> list(range(*args))            # call with arguments unpacked from a list
[3, 4, 5]

[3, 4, 5]

In [186]:
>>> def make_incrementor(n):
...     return lambda x: x + n
...
>>> f = make_incrementor(42)
>>> f(0)
42
>>> f(1)
43

43

In [188]:
>>> pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
>>> pairs.sort(key=lambda pair: pair[1])
>>> pairs
[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [189]:
>>> def my_function():
...     """Do nothing, but document it.
...
...     No, really, it doesn't do anything.
...     """
...     pass
...
>>> print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [191]:
>>> def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...
>>> f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [192]:
##################################################5###########################################
##################################################5###########################################
##################################################5###########################################

In [194]:
>>> fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('apple')
>>> fruits.count('tangerine')
>>> fruits.index('banana')
>>> fruits.index('banana', 4)  # Find next banana starting a position 4
>>> fruits.reverse()
>>> fruits
>>> fruits.append('grape')
>>> fruits
>>> fruits.sort()
>>> fruits
>>> fruits.pop()

'pear'

In [195]:
>>> stack = [3, 4, 5]
>>> stack.append(6)
>>> stack.append(7)
>>> stack
>>> stack.pop()
>>> stack
>>> stack.pop()
>>> stack.pop()
>>> stack

[3, 4]

In [202]:
>>> from collections import deque
>>> queue = deque(["Eric", "John", "Michael"])
>>> queue.append("Terry")           # Terry arrives
>>> queue.append("Graham")          # Graham arrives
>>> queue.popleft()                 # The first to arrive now leaves
>>> queue.popleft()                 # The second to arrive now leaves
>>> queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [203]:
>>> squares = []
>>> for x in range(10):
...     squares.append(x**2)
...
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [204]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [206]:
>>> combs = []
>>> for x in [1,2,3]:
...     for y in [3,1,4]:
...         if x != y:
...             combs.append((x, y))
...
>>> combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [210]:
>>> vec = [-4, -2, 0, 2, 4]
>>> # create a new list with the values doubled
>>> [x*2 for x in vec]
>>> # filter the list to exclude negative numbers
>>> [x for x in vec if x >= 0]
>>> # apply a function to all the elements
>>> [abs(x) for x in vec]
>>> # call a method on each element
>>> freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
>>> [weapon.strip() for weapon in freshfruit]
>>> # create a list of 2-tuples like (number, square)
>>> [(x, x**2) for x in range(6)]
>>> # the tuple must be parenthesized, otherwise an error is raised
#[x, x**2 for x in range(6)]
  
>>> # flatten a list using a listcomp with two 'for'
>>> vec = [[1,2,3], [4,5,6], [7,8,9]]
>>> [num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
>>> from math import pi
>>> [str(round(pi, i)) for i in range(1, 6)]
['3.1', '3.14', '3.142', '3.1416', '3.14159']

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [213]:
>>> matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [215]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [217]:
>>> transposed = []
>>> for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [219]:
list(zip(*matrix))
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [220]:
>>> a = [-1, 1, 66.25, 333, 333, 1234.5]
>>> del a[0]
>>> a
[1, 66.25, 333, 333, 1234.5]
>>> del a[2:4]
>>> a
[1, 66.25, 1234.5]
>>> del a[:]
>>> a
[]

[]

In [221]:
>>> del a

In [222]:
>>> empty = ()
>>> singleton = 'hello',    # <-- note trailing comma
>>> len(empty)
0
>>> len(singleton)
1
>>> singleton
('hello',)

('hello',)

In [223]:
>>> basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
>>> print(basket)                      # show that duplicates have been removed
{'orange', 'banana', 'pear', 'apple'}
>>> 'orange' in basket                 # fast membership testing
True
>>> 'crabgrass' in basket
False

>>> # Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a                                  # unique letters in a
{'a', 'r', 'b', 'c', 'd'}
>>> a - b                              # letters in a but not in b
{'r', 'd', 'b'}
>>> a | b                              # letters in a or b or both
{'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'}
>>> a & b                              # letters in both a and b
{'a', 'c'}
>>> a ^ b                              # letters in a or b but not both
{'r', 'd', 'b', 'm', 'z', 'l'}

{'banana', 'orange', 'apple', 'pear'}

{'b', 'd', 'l', 'm', 'r', 'z'}

In [224]:
>>> a = {x for x in 'abracadabra' if x not in 'abc'}
>>> a

{'d', 'r'}

In [225]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel
{'jack': 4098, 'sape': 4139, 'guido': 4127}
>>> tel['jack']
4098
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel
{'jack': 4098, 'guido': 4127, 'irv': 4127}
>>> list(tel)
['jack', 'guido', 'irv']
>>> sorted(tel)
['guido', 'irv', 'jack']
>>> 'guido' in tel
True
>>> 'jack' not in tel
False

False

In [227]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [228]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [229]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [231]:
>>> string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
>>> non_null = string1 or string2 or string3
>>> non_null

'Trondheim'

In [232]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True